*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.page1{
    height: 100%;
    width: 100%;
    background-color: rgb(130, 219, 130);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
nav ul li a:hover{
    color: red;
    transition: .3s;
}

nav img{
    height: 45px;
    width: 45px;
}