*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.page1{
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    transition: 0.5s;
    height:  20%; 
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    position: absolute;
    width: 100%;
}
ul {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 3vmax;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: 0.5s;
}
nav ul li a:hover{
    color: red;
}

nav img{
    height: 80px;
    width: 80px;
}

nav input{
    border: 4px solid rgba(0, 0, 0, 0.52);
    outline: none;
    background-color: #f5f5f5a7;
    padding-top: 10px;
    padding-left: 50px;
    border-radius: 5px;
    font-size: 25px;
    
}

nav i{
    color: black;
    font-size: 45px;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 20px;
}
.menu{
    display: initial;
}
.close{
    display: none;
}

.container{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow-y: hidden;
    position: relative;
}    
#slider{
    overflow: hidden;
    position: relative;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 10s slider infinite;
    
}
#slider figure img{
    width: 20%;
    float: left;
}
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
    60%{
        left: -300%;
    }
    80%{
        left: -400%;
    }
    100%{
        left: 0;
    }
}

h1{
    z-index: 1;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

button{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 10px 30px;
    color: white;
    background-color: blue;
    border: 3px solid white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background-color: white;
    color: blue;
    border: 3px solid blue;
}

.page2{
    height: 100%;
    width: 100%;
    background-color:white;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.8px;
}


:root {
    --primary-color:#ffd500;
    --secondary-color:#383838;
    --gray-color:#f5f8f9;
    --white-color:#ffffff;
    --btn-color:#60e6c5;
    --btn-color2:#fd5a7d;
}

.btn {
    background: blue;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 0;
    margin: 10px;
    transition: 0.2s ease-in;
    cursor: pointer;
    margin-top: 150px;
}

.btn:hover {
    color: blue;
    background-color: white;
}

.back-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: white;
}

.page2 .container {
    display: flex;
    width:800px;
    background:var(--white-color);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 50px 1px rgba(0,0,0, 0.1) ;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 35%;
    flex-shrink: 0;
    padding: 40px 30px;
    text-align: center;
    background:var(--primary-color);
}

.welcome-section i {
    font-size: 45px;
 }

.avatar {
    width: 120px;
    height: 120px; 
}

.avatar img {
    width: 100%;
    height: auto; 
}

.welcome-text h3 {
    margin: 20px 0;
}

.welcome-text p {
    line-height: 1.6;
}

.form-section {
    display:flex;
    flex-direction: column;
    flex-basis:65%;
    flex-shrink: 0;
    font-size: 14px;
    padding: 60px;
}

.form-row {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.form-row .form-input {
    flex-basis: 70%;
    flex-shrink: 0;
}

.form-row .form-title {
   flex-basis: 30%;
   flex-shrink: 0;
}

.form-row .form-input > input {
    width: 100%;
    border: 1px solid var(--gray-color);
    background-color: var(--gray-color);
    padding: 10px;
    transition: all 0.2s ease-in;
}

.form-row .form-input > input:focus {
    outline: 0;
    border: 1px solid var(--secondary-color);
}

.form-row .form-input > input:focus::placeholder {
    opacity: 0;
}

.form-input .form-options {
    display: flex;
}

.form-options .from-option{
    display:flex ;
    align-items: center;
}

.form-options .from-option span{
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--gray-color);
    padding: 10px;
    position: relative;
    transition: all 0.2s ease-in;
}
.form-options .from-option span i{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%; 
}

.form-options .from-option input[type="radio"]{
    display: none;
}

.form-options .from-option input[type="radio"]:checked + span{
   background: var(--primary-color); 
}

.form-options .from-option label{
    cursor: pointer;
    margin: 0 12px;
}

.section-cta {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.page3{
    height: 100%;
    width: 100%;
    background-color: white;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
.container2 p{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: blue;
    text-shadow: #383838 1px 1px 1px;
}
.page3 img{
    height: 500px;
    width: 600px;
    box-shadow: 10px 10px 50px 1px rgba(0,0,0, 0.1) ;
    border-radius: 20px;
}

.page4{
    height: 100%;
    width: 100%;
    background-color: white;
    color: #272727;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');


.page4 .main{
  max-width: 1200px;
  margin: 0 auto;
}

.page4 h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.page4 img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.page4 .btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.page4 .btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;

  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;

  width: 100%;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}