*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.container{
    height: 100vh;
    width: 100%;
    background-color: lightgreen;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    height: 10%;
    width: 100%;
    background-color: darkgreen;
}
nav i{
    position: absolute;
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 5px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li{
    padding: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.close{
    display: none;
}
