*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.page1{
    width: 100%;
    height: 100%;
    background: url("https://dnm.nflximg.net/api/v6/BvVbc2Wxr2w6QuoANoSpJKEIWjQ/AAAAQWbUWF7Nk3210EvR_PyyslFX6gIC3gltG0_Qmgxr2uzlF0F7oKioGh_rMVKCFUe1WcQYbi0rlFHDm2lrD8tSWA-MGedijFrSC5-C2tzUx7I2ibJl6jg9gsxs-sP5WTnXoseWkv1VqKOmCIllomd8s7Qd-D0.jpg?r=eb4");
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20%;   
    background-color: aliceblue;
}
nav img{
    width: 200px;
    height: 160px;
    padding-top: 10px;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

nav ul li{
    padding:20px;
}

nav ul li a{
    text-decoration: none;
    color:rgb(66, 94, 252);
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

nav ul li a:hover{
    color: rgb(2, 0, 0);
    border: 1px solid rgb(2, 0, 0);
}

nav button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(66, 94, 252);
    color: white;
    font-size: 20px;
    margin: 10px;
    transition: 0.2s ease-in-out;
}    
nav button:hover{
    background-color: rgb(2, 0, 0);
}

p{
    color: white;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
}
.btn{
    text-align: center;
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(66, 94, 252);
    color: white;
    font-size: 30px;
    margin: 10px;
    transition: 0.2s ease-in-out;
    margin-left: 680px;
}    
.btn:hover{
    background-color: rgb(2, 0, 0);
}

.page2{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.box{
    height: 400px;
    width: 300px;
    background-color: rgb(66, 94, 252);
    box-shadow: 2px 2px 2px 2px rgb(75, 72, 72);
    color: white;
    font-family:Arial, Helvetica, sans-serif;
   
}
.box ul{
   list-style-type: disc;
   padding-left: 30px;

}

.box h1{
    text-align: center;
    padding: 20px;
    border: 5px solid white;

}

.box p{
    text-align: center;
    padding-top: 20px;
}

.box h2{
    text-align: center;
    padding-bottom: 20px;
}

.box button{
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(2, 0, 0);
    color: white;
    font-size: 20px;
    margin: 10px;
    transition: 0.2s ease-in-out;
}    
.box button:hover{
    background-color: white;
    color: rgb(66, 94, 252);
}